<li class="tab-with-icon <%= ( params[:controller] == "spree/posts/admin/posts" ) ? "selected" : "" %>">
  <a href="/sysadmin/posts" class="icon_link with-tip icon-wrench">
  	<span class="text">
  		Blog
  	</span>
  </a>
</li>